@charset "UTF-8";

body {
    background-color: #333;
    text-align: center;
}

#content {
    width: 640px;
    height: 480px;
    background-color: black;
    box-shadow: 0 2px 5px black;
}